
@{
    ViewBag.Title = "EJRA Judgements";
}

<div class="row">
    <div class="col-md-10 col-sm-10">
        <div class="page-header">
            <h2>Why the EJRA should change <small><span class="fa fa-stop-circle"></span></small></h2>
            @Html.Partial("HeadingLinks", "2-1")
        </div>
        <h3>The Judgements<small> with an introduction</small></h3>
        <div>
            <p>
                A growing number of members of Congregation and others subject to Statute XII are receiving letters ahead of the dates when their contracts with the University terminate, and some have applied unsuccessfully to continue in post.
                That has already led a few on to appeal, though it is early days for that as yet. But a queue is forming.
            </p>
            <p>
                Going to the Appeal Court is a formidable process.  A senior member of the judiciary is appointed to preside as judge and the University instructs barristers and solicitors to contest the appeal.
                The appellant must fend for him or herself and pay for legal representation if this opposition seems too daunting for a litigant in person to have a fair chance of countering it.
            </p>
            <p>
                There are now four known judgments of the Appeal Court under the EJRA procedure.
                The <a href="@Url.Content("~/Content/local/Dame_Janet_Smith_Preliminary.PDF")" class="inline-link" target="_blank">first </a> considered the scope of the Court’s jurisdiction.
                The <a href="@Url.Content("~/Content/local/Dame_Janet_Smith_Judgement.PDF")" class="inline-link" target="_blank">second </a> upheld the Appeal and raised a number of concerns about the lawfulness of the procedure as it then stood.
                The judge set out her reflections on that point at some length, placing the specifics of the appellant’s case in an appendix.
            </p>
            <p>
                She stated clearly that in her judgement: <strong><em>"Rejection of an application under this procedure could never amount to a potentially fair reason for dismissal"</em></strong>. She gave consent to publication of the judgement.
                The appellant also gave consent. The University, as a ‘party’, claims that this judgement is confidential and resists its disclosure and its publication.
                The University then made some minor changes to the <a href="https://www.admin.ox.ac.uk/personnel/end/retirement/acrelretire/" class="inline-link" target="_blank"> procedure as from September 30, 2105 </a>
            </p>
            <p>
                The <a href="@Url.Content("~/Content/local/Jeremy_Sullivan_Judgement.PDF")" class="inline-link" target="_blank"> third </a> judgement (July 2016), was made under that procedure. It held that the first judgement should be disclosed to the appellant and more, that:
                <em>
                    "the University’s submission that the Court’s judgement … is confidential is misconceived while the Regulations provide that hearings are to be in private (unless the Court determines otherwise)
                    they do not prohibit the publication of the Court’s decision by either party to an appeal, and one can envisage circumstances in which either party to an appeal might wish to publicise the Court’s judgement".
                </em>
            </p>
            <p>
                In the <a href="@Url.Content("~/Content/local/John_Goldring_Judgement.PDF")" class="inline-link" target="_blank"> fourth </a> judgement the judge held that
                although <em>"it would be unreasonable and unfair for Professor Pitcher not to be able to challenge the lawfulness of the EJRA policy when another Court of Appeal has found to the contrary"</em>
                and he <em>"should not depart from Dame Janet Smith’s decision without good reason"</em>, nevertheless his decision was that <em>"the Appeal Court does not have the jurisdiction to consider the legality of the EJRA policy"</em>
            </p>
            <h3>So the University is now in a muddle</h3>
            <p>
                The third judgement considered that although the first two could not constitute binding precedent they could be considered persuasive as precedent because:
                <em>"consistency in decision making is a well established principle. A Court of Appeal decision should not be departed from without good reason".</em>
            </p>
            <p>
                The fourth judgement holds that the first judge had no jurisdiction to consider some of the matters she did consider. He departs from her decision, giving his reasons.
            </p>
            <p>
                The University may well feel that it is less anxious to make this fourth judgement confidential, since it seems to protect it from challenge by an appellant who claims he or she was unlawfully dismissed by reason of age.
                On the other hand, if it wants to rely on this fourth judgement it will have to make the other two available, since they are cited there.
            </p>
            <p>
                The existence of four Appeal Court judgements which do not agree on this fundamental point - whether an appellant can attack the lawfulness of the procedure under which he was dismissed -
                really does seem to bring things to a stage where the judgements can no longer reasonably be withheld from publication.
                We consider it clearly in the public interest and the University’s own interest to publish them now, with further EJRA claims in progress and an increasingly urgent need for the University to do some radical rethinking.
            </p>

        </div>
    </div>
</div>
